@import "../../styles/mixins";

.sidebar-container {
    flex: 1;
    border-right: 1px solid rgb(254, 137, 137);
    height: 100%;
    @include medium{
        flex:1.5
    }
}

/* width */
::-webkit-scrollbar {
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    // background: #888;
    background: $primary-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
